

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.listado-jokes{
    width: 100%;
}
.joke{
    padding: 1rem 1rem;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.material-icons{
    color: rgb(81, 145, 219);
}
.play, .stop, .descargar{
    cursor: pointer;

}
.material-icons:hover{
    color: rgb(247, 248, 248);
}

.icono-menu{
    margin: 40px 30px;
    position: relative;
    z-index: 10;
}
.icono-menu img{
    vertical-align: top;
    width: 40px;
    cursor: pointer;
}
.cont-menu{
    background-color:black;
    box-shadow: 2px 0px 5px 2px rgb(66,66,66);
    width: 400px;
    height: 145vh;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .5s ease;
}
.cont-menu ul{
    padding:  100px 0px 20px 0px;
    list-style:none;
}
.cont-menu ul li{
    color: white;
    display: block;
    font-size: 25px;
    text-decoration: none;
    padding: 10px 50px;
    cursor: pointer;
}
.cont-menu ul li a{
    text-decoration: none;
    color: white;
}

.cont-menu ul :hover{
background-color:rgb(58, 74, 153);
}
.active{
    transform: translate(-600px);
}
.opacity{
    background-color: rgb(0,0,0,0.5);
    transition: all .5s ease;
}
.cont2-menu{
    width: 400px;
    margin: 50px auto;
}
@media (max-width: 768px) {
    .cont2-menu{
        width: 350px;
        margin: 50px auto;
    }
}

.cont2-menu .cont-enlace .enlace{
    height: 0;
    overflow: hidden;
    margin-bottom: 6px;
}
.cont2-menu .cont-enlace .animation{
    height:100%;
    

}
.cont2-menu .cont-enlace .opcion{
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding: 13px 15px;
    font-size: 22px;
    cursor: pointer;
    user-select: none;
    border-radius: 25px ;
}
.cont2-menu .cont-enlace .opcion .icono{
    background-color: rgb(255, 255, 255);
    font-size: 22px;
    text-align: center;
    width: 36px;
    border-radius: 15px;
}
.cont2-menu .cont-enlace .enlace a {
    display: flex;
    justify-content:space-around;
    padding: 5px 5px;
    text-decoration: none;
    font-size: 20px;
    background-color: white ;
    border-radius: 15px ;
    height: 60px;
}
.cont2-menu .cont-enlace .enlace a:hover{
    background-color:rgb(63,94,251);
}
.version{
    font-size: 12px;
}