



.container{
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.listado-jokes{
    width: 100%;
}
.joke{
    padding: 1rem 0rem;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.titulo{
    flex:6;
    color: white;
}

.material-icons{
    color: white;
}
.play, .stop, .descargar{
    flex: 1;
    cursor: pointer;
}
